@import "../setting/config";

.box-2 {
  position: relative;
  background: rgba(41, 38, 38, 0.493);

  width: 95%;

  margin-top: 20px;

  padding-bottom: 20px;

  span.theHourse {
    display: inline-block;

    width: 100%;
    text-align: right;
    color: $white;

    margin-bottom: 5px;
    padding-right: 15px;
  }

  .time {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

.heure-bloc-prevision {
  grid-area: 3 / 1 / 4 / -1;
}
.jour-prevision-bloc {
  grid-area: 4 / 1 / 5 / -1;
}
.jour-prevision-bloc,
.heure-bloc-prevision {
  display: grid;
  grid-template: 100px / repeat(7, 1fr);
}

.bloc-h,
.bloc-j {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  font-size: 21px;
}

.bloc-h:not(:last-child),
.bloc-j:not(:last-child) {
  border-right: 1px solid #f1f1f1;
}

.bloc-j {
  border-bottom: 1px solid #f1f1f1;
}

.bloc-h p,
.bloc-j p {
  margin: 5px;
}

.TimeZone {
  padding: 15px;
}
